In [1]:
import pandas as pd

# Read the dataset into a pandas DataFrame
df = pd.read_csv('Social_Network_Ads.csv')

# Display the first few rows of the DataFrame
print(df.head())

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [2]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [3]:
from sklearn.preprocessing import StandardScaler

# Assuming 'df' is your DataFrame with 'Age' and 'EstimatedSalary' columns
columns_to_scale = ['Age', 'EstimatedSalary']

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the selected columns
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

# Display the DataFrame after standardization
print(df)

          Age  EstimatedSalary  Purchased
0   -1.781797        -1.490046          0
1   -0.253587        -1.460681          0
2   -1.113206        -0.785290          0
3   -1.017692        -0.374182          0
4   -1.781797         0.183751          0
..        ...              ...        ...
395  0.797057        -0.844019          1
396  1.274623        -1.372587          1
397  1.179110        -1.460681          1
398 -0.158074        -1.078938          0
399  1.083596        -0.990844          1

[400 rows x 3 columns]

In [5]:
from sklearn.model_selection import train_test_split
X = df[['Age', 'EstimatedSalary']]
y = df['Purchased']

# Split the data into training and testing sets (e.g., 80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the training and testing sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (320, 2)
X_test shape: (80, 2)
y_train shape: (320,)
y_test shape: (80,)

In [6]:
X_train

          Age  EstimatedSalary
3   -1.017692        -0.374182
18   0.797057        -1.225763
202  0.128465         1.886912
250  0.606031        -0.902749
274  1.847701        -1.284492
..        ...              ...
71  -1.304232        -1.255127
106 -1.113206        -1.020209
270  0.510518         1.857547
348  0.128465         0.213115
102 -0.540127         0.477399

[320 rows x 2 columns]

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
model = LinearRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

In [9]:
y_pred

array([ 0.36269954,  0.97356109, -0.00371156,  0.72662375, -0.04583675,
        0.12344117,  0.74760863,  0.18670667,  0.43364401,  0.442411  ,
        0.26374437,  0.59210291, -0.11441833, -0.2966913 ,  0.22914272,
        0.44555105,  0.58349136,  0.58255877,  0.26859416,  0.77860394,
       -0.22873144,  0.17402248,  0.39245141,  0.92282435, -0.33912735,
        0.49454662,  0.50583193,  0.26405523,  1.02790418, -0.33067122,
        0.44303272, -0.12349618,  0.62328509,  0.14427062,  0.568942  ,
        0.30602499,  0.27251136,  0.34031578, -0.11395204, -0.15747611,
        0.46025583, -0.05929809, -0.2251251 ,  0.37976722, -0.18676168,
        0.80633521,  0.0936893 ,  0.18701753,  0.49408033,  0.1452032 ,
        0.0676992 ,  0.7950499 ,  0.29803516,  0.07192727,  0.37821291,
       -0.08420017,  1.05827777,  0.25811743,  0.19970172,  0.20815784,
        0.35769433,  0.22991988,  0.80335059,  0.17809511,  0.05970937,
        0.36397442,  0.54811255,  0.90404693,  0.34047121,  0.41564375,
        1.00629758, -0.06007524,  0.02995751, -0.23280407,  0.43896009,
        0.20032344,  1.08725248,  0.58380222,  0.18763925,  0.36975679])

In [12]:
new_data = [[30, 50000]]  # Example new data point

# Use the trained model to predict the target variable for the new data point
predicted_value = model.predict(new_data)

print("Predicted value:", predicted_value)

Predicted value: [7207.55590949]

/home/jiji/anaconda3/lib/python3.9/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
new_data1 = [[20, 5000]]  # Example new data point

# Use the trained model to predict the target variable for the new data point
predicted_value1= model.predict(new_data1)

print("Predicted value:", predicted_value1)